@{
    ViewBag.Title = "Admin Home";
}

<h2>Site Administration</h2>
<hr />

<div style="margin:25px auto 100px auto; line-height:40px; font-size:22px;">
    @Html.ActionLink("Manage Roles", "RolesMgmt")<br/>
    @Html.ActionLink("Manage Users", "UsersMgmt")
</div>