@{
    ViewBag.Title = ".Net MVC5 Template Features";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p style="margin-top:30px;">
    *This starter template saves you many hours of work and includes features needed for core web app functionality.
    <ul style="margin-top:30px;">
        <li>
            <b>Basic Features Provided by Visual Studio 2013 MVC5 Template</b>
            <ul>
                <li>Bootstrap v3 responsive, HTML5, CSS3, jQuery, ect . . .</li>
                <li>.Net MVC5 with user Identity and web security best practices and local database</li>
                <li>Home page, Register, Login, Forgot Password, Reset Password functionality</li>
                <li>Plug and play social logins for Google, Facebook & Twitter<br />(to enable see App_Start.Startup.Auth.cs)</li>
            </ul>
        </li>
        <li style="margin-top:20px;">
            <b>Custom Features and Work Added to the Template</b>
            <ul>
                <li>Great foundation to build upon. Jump in and start coding the custom features of your application without wasting time building the basic user account features.</li>
                <li>Step by step instructions on how to get setup and connect the app with local or external database</li>
                <li>SQL Server Script to generate the database including Asp.Net Identity tables
                    <ul>
                        <li>Ready to go for local or external database connection string</li>
                        <li>Foreign key relationships and indexes set</li>
                        <li>Additional tables created to extend the user account data</li>
                        <li>Custom application logging to database</li>
                    </ul>
                </li>
                <li>Entity Framework fully integrated with the database model</li>
                <li>Asynchronous data access</li>
                <li>Changed .Net Identity to use Integer Keys instead of strings</li>
                <li>Admin pages for user management & roles management</li>
                <li>Custom HTML/CSS email templates & email sender with logging</li>
                <li>Added Update User Profile functionality with extended data model for additional user information not provided in .Net Identity</li>
                <li>Added support page with links to it in email footers</li>
                <li>Separated the data models in a different project/dll from the web site</li>
                <li>CSS3 Animated Loading Indicator (one line of code adds it to any form. Slick!)</li>
                <li>Global error handling in Global.asax with exception logging</li>
                <li>Reworked default functionality on forgot password to send email when user hasn't confirmed their email. And if user resets their password, the email address is then confirmed and the user can login.</li>
            </ul>
        </li>
    </ul>
</p>
