@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>User Portal</h1>
    <p class="lead">This is a .Net MVC5 jumpstart app template created in Visual Studio using the following technologies: Bootstrap v3 responseive template, HTML5, CSS3, jQuery, .Net Identity & SQL Server</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Built-in Feature Details &raquo;</a></p>
    <p><br/>Created by <a href="http://inovacode.com" target="_blank">@CodeLib.CommonObjects.COMPANY_NAME</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>