@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    We pride ourselves in providing outstanding services and are committed to do what it takes to meet your needs. 
    Contact us at one of the following options and we'll respond promptly.
    <br/><br/>
    <strong>Support:</strong>   <a href="mailto:@CodeLib.CommonObjects.SUPPORT_EMAIL">@CodeLib.CommonObjects.SUPPORT_EMAIL</a><br />
</div>

<address style="margin-top:20px;">
    Address<br />
    City, State Zip<br />
    <abbr title="Phone">P:</abbr>
    Phone
</address>